//Mixin
@import '../MIXIN/mixin';

//PlaceHolder
@import '../SCSS/contenido';

//Variables
$colorTexto: #eee;
$colorTextoHover: lighten($colorTexto, 10%);
$colorFondo: #15a;
$colorFondoHover: lighten($colorFondo, 10%);
$colorTitulo: darken($colorFondo, 10%);

//Sass
body {
    background-color: #f4f4f4;
    margin: 0%;
    padding: 0%;
}

header {
    background-color: $colorFondo;
    color: $colorTexto;
    text-align: left;
    font-weight: bolder;
    font-size: 24px;
    padding: 20px;
    color: #4e4e4e;
    background-color: #c7c7c7;

}

nav {
    background-color: $colorFondo;
    display: flow-root;

    ul {
        list-style: none;
        padding: 0;

        .categoria {
            display: inline-block;
            margin-right: 20px;

            &:hover {
                .submenu {
                    display: block;
                    animation: fadeIn 0.3s ease;

                }
            }

            a {
                text-decoration: none;
                padding: 10px 15px;
                @include transition(all, 0.3s);
                @include colorFondo($colorTexto, $colorFondo);

                &:hover {
                    @include colorFondoHover($colorTextoHover, $colorFondoHover);

                    .submenu {
                        animation: fadeIn 0.3s ease;
                    }
                }
            }

            .submenu {
                display: none;
                position: absolute;


                li {
                    display: block;


                    a {
                        @include transition(all, 0.3s);
                        display: block;

                        &:hover {
                            @include colorFondoHover($colorTextoHover, $colorFondoHover);
                        }
                    }
                }
            }

            &:hover {
                .submenu {
                    display: block;

                }
            }
        }
    }
}

/*Animación*/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


footer {
    background-color: $colorFondo;
    color: $colorTexto;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    @include box-sizing(border-box);
}

//Hacerlo responsive.

/* Para pantallas más pequeñas */
@media (max-width: 768px) {
    .categoria {
        flex: 0 0 100%;
        margin: 10px 0;
    }
}