form{
    /* orden padding/margin: ARRIBA | DERECHA | ABAJO | IZQUIERDA*/
    padding-top:10px;
    padding-bottom:10px;
    padding-left:auto;
    padding-right:auto;

    border-top: 2px #888;
    border-bottom: 2px #888;
    width: 710px;
    text-align: center;
    margin: 20px;
    background: rgba(0, 0, 0, 20%) url("../imgs/bg-form.png") no-repeat bottom;
}

ul{
    list-style: none;
}

li{
    padding-bottom: 15px;
}

label{
    display: block;
    padding: auto;
    justify-content: center;

    font-family: 'LeagueGothic';


}

h1{
    size: 2em;
    margin-bottom: 20px;

    /*imagenes de fondo*/
    background: 
    url("../imgs/bg-formtitle-left.png") left no-repeat,
    url("../imgs/bg-formtitle-right.png") right no-repeat;
    background-repeat: no-repeat;
    background-size: 100px auto;

    font-family: 'AcknowledgementMedium';
}

#registro-submit{
    border: none;
    border-radius: 5px;
    background: radial-gradient(rgb(144, 144, 144), rgb(72, 72, 72));
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    font-family: 'LeagueGothic',Tahoma, Geneva, sans-serif;
    opacity: 80%;
    font-style: italic;
    width: 300px;
    height: 60px;
}

#registro-submit:hover{
    opacity: 100%;
    transition: linear;
    transition-duration: 0.25s;
}

input{
    
border:none;
border-bottom: 1px dotted #000;
background: transparent;
outline: none;
text-align: center;
}

input:required{
    background: url("../imgs/required.png") right no-repeat;
}

input:valid:focus{
    background: url("../imgs/valid.png") no-repeat;
}

input:invalid:focus{
    background: url("../imgs/invalid.png") no-repeat;
}

input::selection{
    background-color: #484848;
    color: #fff;
    text-shadow: none;
}

/* Fuentes Importadas */
@font-face {
    font-family: LeagueGothic;
    src: url(../fonts/LeagueGothic-Regular-VariableFont_wdth.ttf);
}

@font-face {
    font-family: AcknowledgementMedium;
    src: url(../fonts/Acknowledgement.otf);
}