#contenedor1 .bloque {
    display: inline-block;
    height: 300px;
    width: 300px;
    border: 1px solid #333;
    background: rgb(197, 226, 231);
    margin: 20px;
}

#contenedor2 .bloque {
    display: inline-block;
    height: 300px;
    width: 300px;
    border: 1px solid #333;
    background: rgb(197, 226, 231);
    margin: 20px;
}


#season p {
    background: rgb(197, 226, 231);
    margin: 10px;
    padding: 10px;
}
