* {
    margin: 0;
    padding: 0;

    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(101, 181, 192);
}

/* Menú principal*/
nav > ul > li {
    display: inline-block; 
    text-decoration: none;
    margin: 50px;
    text-align: center;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}

/*Desplegable submenú*/
#submenu {
    position: relative;
}

/*Todo el submenú*/
#submenu > ul {
    position: absolute;
    left: 10px;
    height: 0px;
    overflow: hidden;
    width: 145px;
    transition: height linear 0.6s;
    z-index: 2;
}

#submenu:hover > ul {
    height: 200px;
}

/*Elementos*/
#submenu > ul > li {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: 0px;
    background-color: #6db9b6;
}

/*impares*/
#submenu > ul > li:nth-child(odd) {
    background-color: #4e8583 !important;
}


/*Bordes*/
#submenu > ul > li:first-child {

    /*superior*/
    border-radius: 8px 8px 0px 0px;
    margin-top: 15px;
    position: relative;
}

#submenu > ul > li:last-child {
    /*inferior*/
    border-radius: 0px 0px 8px 8px;
}

/*Triángulo*/
nav > ul > li > ul > li:first-child:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    border-bottom-color: #6db9b6;
    left: 50%;
    top: -11px;
    margin-left: -5px;
    z-index: 19;
}

/*Enlaces submenú*/
#submenu > ul > li > a {
    color: #fff;
    margin: 12px;
    text-decoration: none;
}