body {
    margin: 10px;
    padding: 5px;
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 50vw;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 50vw;
}

.tamaño {
    background-repeat: none;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.letrero {
    background-color: black;
    opacity: 0.5;
    width: auto;
    height: auto;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    font-size: 30px;
}

#titulo1 {
    width: auto;
}

#titulo1:hover+.grid-container .sombra1 {
    box-shadow: 5px 5px 10px;
    transition: box-shadow 0.3s;
}

#titulo2 {
    width: auto;
}

#titulo2:hover+.parent .sombra1 {
    box-shadow: 5px 5px 10px;
    transition: box-shadow 0.3s;
}

.div1 {
    grid-area: 1 / 1 / 3 / 2;
    background-image: url("../imgs/pexels-photo-2961121.jpeg");
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    background-image: url("../imgs/pexels-photo-2941098.jpeg");
}

.div3 {
    grid-area: 2 / 2 / 3 / 3;
    background-image: url("../imgs/pexels-photo-2948260.jpeg");
}

.div4 {
    grid-area: 1 / 3 / 3 / 4;
    background-image: url("../imgs/pexels-photo-2958731.jpeg");
}

.div5 {
    grid-area: 1 / 4 / 2 / 5;
    background-image: url("../imgs/pexels-photo-2967810.jpeg");
}

.div6 {
    grid-area: 2 / 4 / 3 / 5;
    background-image: url("../imgs/pexels-photo-2944537.jpeg");
}

.div7 {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url("../imgs/pexels-photo-2976579.jpg");
}

.div8 {
    grid-area: 1 / 2 / 2 / 3;
    background-image: url("../imgs/pexels-photo-2962135.jpeg");
}

.div9 {
    grid-area: 1 / 3 / 2 / 4;
    background-image: url("../imgs/pexels-photo-2905547.jpg");
}

.div10 {
    grid-area: 2 / 1 / 3 / 2;
    background-image: url("../imgs/pexels-photo-2922672.jpeg");
}

.div11 {
    grid-area: 2 / 2 / 3 / 3;
    background-image: url("../imgs/pexels-photo-3012724.jpeg");
}

.div12 {
    grid-area: 3 / 1 / 4 / 2;
    background-image: url("../imgs/pexels-photo-2943603.jpeg");
}

@media (min-width: 500px) and (max-width: 700px) {
    .tamaño {
        background-repeat: none;
        background-size: cover;
        background-position: center;
        object-fit: cover;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        height: 150vw;
    }

    .div1 {
        grid-area: 1 / 1 / 3 / 2;
        background-image: url("../imgs/pexels-photo-2961121.jpeg");
    }

    .div2 {
        grid-area: 1 / 2 / 2 / 3;
        background-image: url("../imgs/pexels-photo-2941098.jpeg");
    }

    .div3 {
        grid-area: 2 / 2 / 3 / 3;
        background-image: url("../imgs/pexels-photo-2948260.jpeg");
    }

    .div4 {
        grid-area: 3 / 1 / 5 / 2;
        background-image: url("../imgs/pexels-photo-2958731.jpeg");
    }

    .div5 {
        grid-area: 3 / 2 / 4 / 3;
        background-image: url("../imgs/pexels-photo-2967810.jpeg");
    }

    .div6 {
        grid-area: 4 / 2 / 5 / 3;
        background-image: url("../imgs/pexels-photo-2944537.jpeg");
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        height: 150vw;
    }

    .div7 {
        grid-area: 1 / 1 / 2 / 2;
        background-image: url("../imgs/pexels-photo-2976579.jpg");
    }

    .div8 {
        grid-area: 1 / 2 / 2 / 3;
        background-image: url("../imgs/pexels-photo-2962135.jpeg");
    }

    .div9 {
        grid-area: 2 / 1 / 3 / 2;
        background-image: url("../imgs/pexels-photo-2905547.jpg");
    }

    .div10 {
        grid-area: 2 / 2 / 3 / 3;
        background-image: url("../imgs/pexels-photo-2922672.jpeg");
    }

    .div11 {
        grid-area: 3 / 1 / 4 / 2;
        background-image: url("../imgs/pexels-photo-3012724.jpeg");
    }

    .div12 {
        grid-area: 3 / 2 / 4 / 3;
        background-image: url("../imgs/pexels-photo-2943603.jpeg");
    }
}

@media (max-width: 500px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        height: 450vw;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
        background-image: url("../imgs/pexels-photo-2961121.jpeg");
    }

    .div2 {
        grid-area: 2 / 1 / 3 / 2;
        background-image: url("../imgs/pexels-photo-2941098.jpeg");
    }

    .div3 {
        grid-area: 3 / 1 / 4 / 2;
        background-image: url("../imgs/pexels-photo-2948260.jpeg");
    }

    .div4 {
        grid-area: 4 / 1 / 5 / 2;
        background-image: url("../imgs/pexels-photo-2958731.jpeg");
    }

    .div5 {
        grid-area: 5 / 1 / 6 / 2;
        background-image: url("../imgs/pexels-photo-2967810.jpeg");
    }

    .div6 {
        grid-area: 6 / 1 / 7 / 2;
        background-image: url("../imgs/pexels-photo-2944537.jpeg");
    }

    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        height: 450vw;
    }

    .div7 {
        grid-area: 1 / 1 / 2 / 2;
        background-image: url("../imgs/pexels-photo-2976579.jpg");

    }

    .div8 {
        grid-area: 2 / 1 / 3 / 2;
        background-image: url("../imgs/pexels-photo-2962135.jpeg");
    }

    .div9 {
        grid-area: 3 / 1 / 4 / 2;
        background-image: url("../imgs/pexels-photo-2905547.jpg");
    }

    .div10 {
        grid-area: 4 / 1 / 5 / 2;
        background-image: url("../imgs/pexels-photo-2922672.jpeg");
    }

    .div11 {
        grid-area: 5 / 1 / 6 / 2;
        background-image: url("../imgs/pexels-photo-3012724.jpeg");
    }

    .div12 {
        grid-area: 6 / 1 / 7 / 2;
        background-image: url("../imgs/pexels-photo-2943603.jpeg");
    }
}